@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #EFF2F7;
  }
  

  input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }
}